
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
:root{
  --primary-clr: hsl(135, 7%, 90%);
  --secondary-clr: hsl(355, 67%, 26%);
  --dark-blue: hsl(240, 100%, 7%);
  --fulvous: hsl(33, 84%, 48%);
  --grey-text: hsl(135, 7%, 20%);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

//Globals
body {
  color: var(--dark-blue);
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}


button{
  margin: 2rem;
  padding: 1rem 0.9rem;
  transition: var(--mainTransition);
  text-transform: uppercase;
  background: var(--secondary-clr);
  color: var(--primary-clr);
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    background: var(--primary-clr);
    color: var(--secondary-clr);
  }
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

//Nav
nav {
  background: var(--primary-clr);
  box-shadow: var(--lightShadow);
  width: 100%;
height: 10vh;
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 1rem;
  
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--fulvous);
    background: transparent;
    border-color: transparent;
    transition: var(--mainTransition);
    cursor: pointer;

    &:hover {
      color: var(--secondary-clr);
      transform: rotate(90deg);
    }
  }
    img{
      height: 40px;
    }
  }

  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);

    &.show{
      height: 10rem;
    }
  }
  .links a {
    color: var(--dark-blue);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--mainTransition);

    a:hover {
      background: var(--fulvous);
      color: var(--primary-clr);
      padding-left: 1.5rem;
    }
  }
  .social-icons {
    display: none;
  }
}


@media screen and (min-width: 800px) {
  nav {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--grey-text);
    transition: var(--mainTransition);
  }
  .social-icons a:hover {
    color: var(--fulvous);
  }
}

//Banner
.banner {
  margin-top: 20rem;
  margin-left: 2rem;
  width: 90vw;
  font-size: 1rem;
  background: white;
  padding: 3rem;
  line-height: 1.5;
  box-shadow: var(--darkShadow);

  div{
    display: inline-block;
    width: 6vw;
    border: var(--fulvous) 6px solid;
  }
  h4{
    margin-top: 1rem;
    color: var(--secondary-clr);
    text-transform: capitalize;

  }
  h1{
    color: var(--dark-blue);
    margin: 1rem 0;
  }

}


//Header
.header{
  text-align: center;
  margin: 4rem;
  color: var(--primary-clr);
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);

}

//Title
.section-title {
  text-align: center;
  margin: 2rem;
  color: var(--dark-blue);
  text-transform: capitalize;

  h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
  }
  div {
    width: 5rem;
    height: 5px;
    margin: 1rem auto;
    background: var(--secondary-clr);
  }
}

//Home 
.bcg-img, .news-img, .activities-img{
  background: url('./images/bcg-img.jpg') center/ cover no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Tours
.tours{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  width: 90vw;

  font-size: 1rem;
  padding: 0 2rem;

  .single-tour{
    width: 40vw;
    margin: 2rem;
    img{
      height: 30vh;
      width: 40vw;
      border-radius: 1rem;
    }
    div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 2em;
      padding: 1rem;
    }
    button{
      color: var(--secondary-clr);
      border: none;
      font-size: 1.1em;
      margin: 0;
      background: none;
      outline-color: none;
      cursor: pointer;

    }
    
  }
}


//News 
 .news-img{
    background-image: url('./images/news-img.jpg');
    min-height: 60vh;
 }

//Areas
 .areas{
  padding: 2rem;
}

//Activities
.activities{
  height: 70vh;
  h1{
    text-transform: capitalize;
  }
  .activities-img{
    background-image: url('./images/activ-img.jpg') ;
    min-height: 60vh;
  }
}

//Services
.services {
  padding: 8rem 0;
  background: white;
  text-align: center;

  .services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
  }

  span {
    display: inline-block;
    color: var(--secondary-clr);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    &:hover{
      color: var(--fulvous);
    }
  }

  h6 {
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  p {
    width: 80%;
    margin: 0 auto;
  }


  @media screen and (min-width: 992px) {
    .services-center {
      width: 95vw;
      max-width: 1170px;
    }
  }

  @media screen and (min-width: 1200px) {
    .services p {
      width: 100%;
    }
  }
}

//Form
form{
  padding: 8rem 0;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grey-text);
  margin:2rem 3rem;
  border-radius: 1rem;
  color: white;

  #email{
    width: 40vw;
  }
 
  input{
    padding: 1rem;
    margin: 1rem;

    
  }
}

//Questions
.q-container {
  width: 80vw;
  margin: 8rem auto;
  border-radius: 1rem;
  padding: 2.5rem 2rem;


  @media screen and (min-width: 992px) {
    .q-container {
      display: grid;
      grid-template-columns: 250px 1fr;
    }
  }


  .question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--secondary-clr);
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: var(--lightShadow);

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p{
      color: var(--grey-text);
      line-height: 1.5;

    }

    button{
      margin: 1rem;
    }
  }
}





//Footer
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 1rem;
  background: var(--primary-clr);
  color: var(--dark-blue);


  ul li {
    list-style-type: none;
    padding: 1rem 0;
  }
   a {
    text-decoration: none;
    color: var(--dark-blue);
    transition: var(--mainTransition);
    font-size: 1rem;
  }
   a:hover {
    color: var(--secondary-clr);
  }
}